<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum corporis id dolor cupiditate expedita rem nostrum, tenetur pariatur mollitia, velit
         provident, repudiandae totam ab obcaecati est dignissimos molestias repellataspernatur?
    Autem error non expedita repellendus dicta libero maxime omnis, fugit 
    corrupti facere fuga quisquam totam ipsam mollitia sed illo dolorem? Quod
     odit temporibus cumque commodi ratione veritatis in accusantium soluta!
    Quos nesciunt ea cupiditate vero earum laboriosam, eum placeat, quod, totam 
    ratione porro voluptate perspiciatis harum odio assumenda provident. Tempora
     repellat sapiente sequi reprehenderit. Consequatur in tempora dolorem esse 
     obcaecati?
    Libero molestias quidem quo commodi quos perferendis id quis illo neque a
     voluptatum enim non voluptas nesciunt ex ut totam, quas rem possimus eaque? 
     Tempora sed repellat corporis quod provident!
    Consectetur numquam eaque deleniti eligendi repellendus. Eos veniam cum eveniet,
     tempore reiciendis similique fuga numquam! Fuga dolor quisquam perferendis vitae
      accusantium, corporis architecto iure nam est rerum dolorem, placeat eius?
    </p>
 <button>click me</button>
</body>
</html>